<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>通知</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
	<script type="text/javascript" src="../public/javascripts/jquery-3.2.1.min.js"></script>
	<style type="text/css">
		#btn{
			border: 3px solid #b3b9bf;
		    border-color: #2c3f52;
    		color: #2c3f52;
		    margin: 5px;
		    padding: 10px 15px;
		    background: none;
		    cursor: pointer;
		}
	</style>
</head>
<body>
	<button id="btn">点击出现提示</button>
	<div id="result"></div>
	<script type="text/javascript">
		if(window.Notification){
			//获取权限
			Notification.requestPermission();
			//点击按钮
			document.getElementById('btn').addEventListener('click',function(){
				new Notification('Hi,美女:',{
					body:'可以添加你为好友吗？',
					icon:'images/1.jpg'
				});
			});
		}
	</script>
</body>
</html>